.default-container {
  padding-left: 3%;
  padding-right: 3%;

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 992px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: 1200px) {
    padding-left: 12%;
    padding-right: 12%;
  }
}
